* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Roboto", Arial;
  height: 100%;
  background-image: url("../img/weathers/snow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body,
p,
h1,
h2,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

span,
li {
  font-size: 1.125rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Estrutura */
.container {
  display: none;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "weather details";
  position: relative;
  height: 100%;
}
@media (min-width: 801px) and (max-width: 1180px) {
  .container {
    grid-template-columns: auto 1fr;
  }
}
@media (min-width: 0) and (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "weather"
      "details";
  }
}

.weather {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr minmax(200px, 240px);
  color: white;
  grid-area: weather;
}

.weather h1 {
  font-size: 3rem;
  font-weight: 400;
  grid-row: 1;
  background: #000;
  border-radius: 5px;
  padding: 30px;
}

.city {
  padding: 60px;
}

@media (min-width: 801px) and (max-width: 1180px) {
  .weather {
    grid-template-columns: max-content;
  }
  .weather h1 {
    font-size: 2rem;
    text-align: center;
  }
  .city {
    padding: 30px;
  }
}

@media (min-width: 0) and (max-width: 950px) {
  .weather {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .weather h1 {
    font-size: 2rem;
    border-radius: 0;
  }
  .city {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
}

.main-info {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  padding: 15px 15px 15px 60px;
  border-radius: 0 5px 5px 0;
  grid-row: 2;
  grid-column: 1;
}

.main-info strong {
  font-family: "Source Code Pro", monospace;
  font-size: 7rem;
  font-weight: 700;
  margin-right: 30px;
}

.main-info span:first-child {
  margin-right: 30px;
}
.main-info .date::after {
  content: "";
  width: 1px;
  height: 100px;
  background-color: #fff;
  display: inline-block;
  margin-left: 30px;
  margin-right: 15px;
}

@media (min-width: 801px) and (max-width: 1180px) {
  .main-info {
    padding: 5px;
    border-radius: 0;
  }
  .main-info strong {
    font-size: 5rem;
  }
  .main-info .date::after {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 950px) {
  .main-info {
    border-radius: 0;
    padding: 5px;
    justify-content: center;
  }
  .main-info strong {
    font-size: 4rem;
  }
  .main-info .date::after {
    display: none;
  }
}

.weather-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-description img {
  width: 75px;
}

@media (min-width: 801px) and (max-width: 1180px) {
  .weather-description {
    margin-left: 20px;
  }
}
@media (min-width: 0) and (max-width: 950px) {
  .weather-description {
    margin-left: 20px;
  }
  .weather-description img {
    width: 50px;
  }
}

.more-details {
  background: radial-gradient(
    92.12% 92.12% at 4.92% 5.13%,
    #ffffff 0%,
    rgba(255, 255, 255, 0.743441) 36.99%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.05));
  backdrop-filter: blur(30px);
  padding: 60px;
  padding-bottom: 0;
  height: 100%;
  grid-area: details;
}

.more-details form {
  position: relative;
}

.more-details input {
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 25px 20px;
  font-size: 1.125rem;
  margin-bottom: 60px;
}

.more-details button {
  padding: 14px;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 0px;
  right: 0px;
  border-left: 1px solid #fff;
}

@media (min-width: 0) and (max-width: 950px) {
  .more-details {
    padding: 30px;
  }
  .more-details input {
    margin-bottom: 30px;
    font-size: 1rem;
    padding: 20px 15px;
  }
  .more-details button {
    padding: 7px;
  }
}

.weather-details h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.infos li span {
  font-weight: 400;
}

.infos li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 700;
}

.infos .wind {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
